@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* display: inline-flex; */
}

.main-div {
  text-align: center;
}

.main-div {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  border: 2px solid white;
  border-radius: 10px;
  width: 70%;
  height: 80vh;
}

.todo h1 {
  position: relative;
  padding-top: 0;
  background-color: lightblue;
  margin: 10px 10px;
  border-radius: 10px;
}

.todo input {
  margin: 10px 10px;
  border: none;
  width: 90%;
  padding: 15px 13px;
  border-radius: 30px;
  font-size: 17px;
}

.todo button {
  padding: 8px 15px;
  text-align: center;
  font-size: large;
  border-radius: 50%;
}

.todo button:hover {
  background-color: lightblue;
  transition: all 200ms ease;
  cursor: pointer;
}

.todo ul {
  list-style-type: none;
}

.todo ul li {
  padding: 20px 3px;
}

.tododiv {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
}

.tododiv .deletebtn{
    /* border: 3px solid black; */
    padding: 24px 11px;
    border-radius: 20px;
    display: inline;
    justify-content: space-between;
    margin-left: 12px;
}

.edit-block{
  display: inline-flex;
}

.edit-block .edited-item{
  width: 300px;
}

.edit-block .save-btn{
  padding: 8px 15px;
  text-align: center;
  font-size: large;
  border-radius: 20px;
}

.btns{
  display: flex;
}
